@import './variables';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Balsamiq Sans', cursive;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  main {
    margin: 1em;
    min-width: 60%;
  }
}

.wallpaper {
  position: relative;
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.wallpaper::before {
  content: '';
  background-image: url('./../../content/images/7947934761e6d47fa2eb193c.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
  border-radius: 15px;
  margin: 0 0 0.4em 0;
}

.quote {
  font-family: 'Shadows Into Light', cursive;
  position: absolute;
  top: 50%;
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 2rem;
  transform: translate(0, -50%);

  strong {
    color: rgb(255, 107, 8);
    -webkit-text-stroke-width: 0.4px;
  }

  .speaker {
    font-size: 1.2rem;
    margin: 1em 0 3em 0;
    color: white;
    -webkit-text-stroke-width: 0;
  }
}

.wrapper {
  border-radius: 15px;
}

#hear-joke {
  background-color: $dark;

  .wrapper {
    background-color: darken($color: $dark, $amount: 5);
    padding: 1em;

    .controls {
      // text-align: center;
    }
  }
}

#create-joke {
  background-color: $light;

  .wrapper {
    background-color: darken($color: $light, $amount: 5);
    padding: 1em;
  }
}

select {
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.8em;
  margin: 0.2em;
  border: none;
  outline: none;

  option {
    padding: 0.8em 0;
  }
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.8em;
  margin: 0.2em;
  outline: none;
  border: none;
  transition: ease-in-out 300ms;
}

.btn-primary {
  background-color: $primary;
  color: white;

  &:hover {
    background-color: darken($color: $primary, $amount: 5);
  }

  &[disabled] {
    background-color: lighten($color: $primary, $amount: 10);
  }
}

#joke {
  border-radius: 15px;
  background-color: darken($color: $dark, $amount: 10);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 1em;
  margin: 0.4em 0 0 0;
}
