/*@import './variables';
 
body {
  background-color: $bg-color;
} */

#wrap {
  background-color: red;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 10px10px rgba(0, 0, 0, 0.12);
}
